header {
background-color: #EEC80E;
display: flex;
justify-content: space-between ;
height: 4em;

}

.Logo {
max-width: 6em;
height: 4em;
margin-top: 0.3em;
margin-left: 2em;
    
} 

body {
font-family: Microsoft New Tai Lue;
padding: none;
margin: 0em;
text-align: center;
background-color:#F2F1F1;

}

 h1 { 
font-family: Microsoft New Tai Lue;
font-size: 30px;
margin-top: 2em;
padding-bottom: 3em;

}

.form_group {
font-size: 1.5em;
font-family: Microsoft New Tai Lue;
    
} 

.txtbox{
width: 20em;
height: 3em;
border-radius: 2px;
border-color: #D40511;

}

.submit-button{
width: 20em;
height: 4em;
border: none;
background: #D40511;
font-family: Microsoft New Tai Lue;
font-weight: bold;
color: #ffff; 
font-size: 15px;

}

.Knap{
padding-top: 24em;
padding-left: 2%;

}

.main1{
padding-top: 3em;

}
    